@media screen and (min-device-width: 224px) and (max-device-width: 390px) {
  #navbar .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-menu {
    display: none; /* Hide the menu by default on smaller screens */
    position: absolute;
    top: 50px; /* Height of the navbar */
    left: 200rem;
    width: 100%;
    background-color: rgb(32, 32, 32);
    text-align: center;
  }

  .navbar-menu.active {
    display: block; /* Display the menu when active */
  }

  .hamburger-menu {
    display: block; /* Show hamburger icon on smaller screens */
    cursor: pointer;
  }

  .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: 0.4s;
  }

  .change .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .change .bar:nth-child(2) {
    opacity: 0;
  }

  .change .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  #nav-one {
    padding: 0;
    height: 200px;
  }
  #logo {
    height: 100px;
  }
  #header-right {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #contact-information {
    flex-direction: column;
  }
  #contact-information > #second-header {
    font-size: 26px !important;
  }

  #button {
    height: 30px;
    width: 120px;
  }
  #family {
    display: none;
  }
  #hero {
    padding: 0 15px;
    height: 440px;
  }
  #hero #left-side {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  #description {
    font-size: 20px;
  }
  #welcome-home {
    font-size: 40px;
  }
  #new-inventory {
    margin: 20px auto;
    width: 250px;
    padding: 13px;
    font-size: 18px;
  }
  #car {
    left: 0;

    width: 100%;
  }
  #information-page {
    background-color: #dadada6e;
    height: 700px;
    padding: 0;
  }
  #information-page {
    height: 1750px;
    padding: 0 15px 0 15px;
  }
  #information-buttons {
    margin: 0;
    flex-direction: column;
    gap: 0;
    align-items: center;
  }
  #information-buttons button {
    width: 360px;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 0;
  }
  #information-page > #box {
    background-color: white;
    padding: 0 15px 0 15px;
    border-radius: 2px;
    width: 100%;
    flex-direction: column;
    margin-top: 50px;
  }
  #other-details {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  #other-details button {
    text-align: center;
    margin-top: 15px;
  }
  #offers-title {
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
  }
  #car-offers {
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
    gap: 30px;
    padding-bottom: 50px;
  }
  #car-offers img {
    height: 150px;
  }
  #car-offers h4 {
    font-size: 20px;
  }
  #car-offers div {
    display: flex;
    align-items: center;
  }
  #advertise {
    display: flex;
    flex-direction: column;
    height: 720px !important;
    padding: 20px 8px 0 8px;
    align-items: center;
    gap: 15px;
    justify-content: flex-start;
  }
  #advertise-left {
    width: 350px !important;
    height: 350px !important;
  }
  #advertise-left img {
    height: 100%;
  }
  #advertise-right {
    width: 350px !important;
    height: 300px !important;
    overflow: hidden;
    border: solid 15px rgb(33, 113, 189);
    background-color: rgb(45, 132, 212);
    border-radius: 2px;
    color: white;
    padding: 30px;
  }
  #advertise-right h4 {
    font-size: 15px !important;
  }
  #advertise-right > p {
    font-size: 13px !important;
  }
  #advertise-right > #promo {
    font-size: 32px !important;
  }
  #advertise-right > #promo-details {
    font-size: 8px !important;
  }
  footer {
    font-size: 9px !important;
    height: 100px !important;
  }
  footer #footer-firstline {
    display: flex;
    justify-content: space-between;
    color: black;
    align-items: center;
    padding: 20px 15px 20px 15px;
  }
  footer #footer-firstline > img {
    height: 30px;
  }
  footer #footer-secondline {
    display: flex;
    justify-content: flex-start;
    gap: 4px;
    justify-content: center;
    padding: 30px 15px 30px 15px;
    flex-wrap: wrap;
    font-size: 10px !important;
  }
}

@media screen and (min-device-width: 391px) and (max-device-width: 650px) {
  #navbar .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-menu {
    display: none; /* Hide the menu by default on smaller screens */
    position: absolute;
    top: 50px; /* Height of the navbar */
    left: 200rem;
    width: 100%;
    background-color: rgb(32, 32, 32);
    text-align: center;
  }

  .navbar-menu.active {
    display: block; /* Display the menu when active */
  }

  .hamburger-menu {
    display: block; /* Show hamburger icon on smaller screens */
    cursor: pointer;
  }

  .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: 0.4s;
  }

  .change .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .change .bar:nth-child(2) {
    opacity: 0;
  }

  .change .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  #nav-one {
    padding: 0;
    height: 200px;
  }
  #logo {
    height: 100px;
  }
  #header-right {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #contact-information {
    flex-direction: column;
  }
  #contact-information > #second-header {
    font-size: 26px !important;
  }

  #button {
    height: 30px;
    width: 120px;
  }
  #family {
    display: none;
  }
  #hero {
    padding: 0 15px;
    height: 440px;
  }
  #hero #left-side {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  #description {
    font-size: 20px;
  }
  #welcome-home {
    font-size: 40px;
  }
  #new-inventory {
    margin: 20px auto;
    width: 250px;
    padding: 13px;
    font-size: 18px;
  }
  #car {
    left: 0;

    width: 100%;
  }
  #information-page {
    background-color: #dadada6e;
    height: 700px;
    padding: 0;
  }
  #information-page {
    height: 1750px;
    padding: 0 15px 0 15px;
  }
  #information-buttons {
    margin: 0;
    flex-direction: column;
    gap: 0;
    align-items: center;
  }
  #information-buttons button {
    width: 360px;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 0;
  }
  #information-page > #box {
    background-color: white;
    padding: 0 15px 0 15px;
    border-radius: 2px;
    width: 100%;
    flex-direction: column;
    margin-top: 50px;
  }
  #other-details {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  #other-details button {
    text-align: center;
    margin-top: 15px;
  }
  #offers-title {
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
  }
  #car-offers {
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
    gap: 30px;
    padding-bottom: 50px;
  }
  #car-offers img {
    height: 150px;
  }
  #car-offers h4 {
    font-size: 20px;
  }
  #car-offers div {
    display: flex;
    align-items: center;
  }
  #advertise {
    display: flex;
    flex-direction: column;
    height: 720px !important;
    padding: 20px 8px 0 8px;
    align-items: center;
    gap: 15px;
    justify-content: flex-start;
  }
  #advertise-left {
    width: 350px !important;
    height: 350px !important;
  }
  #advertise-left img {
    height: 100%;
  }
  #advertise-right {
    width: 350px !important;
    height: 300px !important;
    overflow: hidden;
    border: solid 15px rgb(33, 113, 189);
    background-color: rgb(45, 132, 212);
    border-radius: 2px;
    color: white;
    padding: 30px;
  }
  #advertise-right h4 {
    font-size: 15px !important;
  }
  #advertise-right > p {
    font-size: 13px !important;
  }
  #advertise-right > #promo {
    font-size: 32px !important;
  }
  #advertise-right > #promo-details {
    font-size: 8px !important;
  }
  footer {
    font-size: 9px !important;
    height: 100px !important;
  }
  footer #footer-firstline {
    display: flex;
    justify-content: space-between;
    color: black;
    align-items: center;
    padding: 20px 15px 20px 15px;
  }
  footer #footer-firstline > img {
    height: 30px;
  }
  footer #footer-secondline {
    display: flex;
    justify-content: flex-start;
    gap: 4px;
    justify-content: center;
    padding: 30px 15px 30px 15px;
    flex-wrap: wrap;
    font-size: 10px !important;
  }
}

@media screen and (min-device-width: 724px) and (max-device-width: 823px) {
  #navbar .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-menu {
    display: none; /* Hide the menu by default on smaller screens */
    position: absolute;
    top: 50px; /* Height of the navbar */
    left: 200rem;
    width: 100%;
    background-color: rgb(32, 32, 32);
    text-align: center;
  }

  .navbar-menu.active {
    display: block; /* Display the menu when active */
  }

  .hamburger-menu {
    display: block; /* Show hamburger icon on smaller screens */
    cursor: pointer;
  }

  .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: 0.4s;
  }

  .change .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .change .bar:nth-child(2) {
    opacity: 0;
  }

  .change .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  #nav-one {
    padding: 0;
    height: 200px;
  }
  #logo {
    height: 100px;
  }
  #header-right {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #contact-information {
    flex-direction: column;
  }
  #contact-information > #second-header {
    font-size: 26px !important;
  }

  #button {
    height: 30px;
    width: 120px;
  }
  #family {
    display: none;
  }
  #hero {
    padding: 0 15px;
    height: 450px;
  }
  #hero #left-side {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  #description {
    font-size: 20px;
  }
  #welcome-home {
    font-size: 40px;
  }
  #new-inventory {
    margin: 20px auto;
    width: 250px;
    padding: 13px;
    font-size: 18px;
  }
  #car {
    left: 8rem;
    width: 70%;
  }
  #information-page {
    background-color: #dadada6e;
    height: 700px;
    padding: 0;
  }
  #information-page {
    height: 1750px;
    padding: 0 15px 0 15px;
  }
  #information-buttons {
    margin: 0;
    flex-direction: column;
    gap: 0;
    align-items: center;
  }
  #information-buttons button {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 0;
  }
  #information-page > #box {
    background-color: white;
    padding: 0 15px 0 15px;
    border-radius: 2px;
    width: 100%;
    flex-direction: column;
    margin-top: 50px;
  }
  #other-details {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  #other-details button {
    text-align: center;
    margin-top: 15px;
  }
  #offers-title {
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
  }
  #car-offers {
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
    gap: 30px;
    padding-bottom: 50px;
  }
  #car-offers img {
    height: 150px;
  }
  #car-offers h4 {
    font-size: 20px;
  }
  #car-offers div {
    display: flex;
    align-items: center;
  }
  #advertise {
    flex-direction: column;
    height: 970px;
    padding: 20px 8px 0 8px;
    align-items: center;
    gap: 15px;
    justify-content: flex-start;
  }
  #advertise-left {
    width: 720px;
    height: 500px;
    overflow: hidden;
    border: solid 15px white;
    border-radius: 2px;
  }

  #advertise-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #advertise-right {
    width: 720px;
    height: 400px;
    overflow: hidden;
    border: solid 15px rgb(33, 113, 189);
    background-color: rgb(45, 132, 212);
    border-radius: 2px;
    color: white;
    padding: 30px;
  }
  #advertise-right > h4 {
    font-size: 25px !important;
  }
  #advertise-right > p {
    font-size: 30px !important;
  }
  #advertise-right > #promo {
    font-size: 70px !important;
  }
  #advertise-right > #promo-details {
    font-size: 15px !important;
    margin-top: 10px !important;
  }
  footer {
    font-size: 15px;
    height: 350px;
  }
  footer #footer-firstline {
    display: flex;
    justify-content: space-between;
    color: black;
    align-items: center;
    padding: 20px 15px 20px 15px;
  }
  footer #footer-firstline > img {
    height: 30px;
  }
  footer #footer-secondline {
    display: flex;
    justify-content: flex-start;
    gap: 4px;
    justify-content: center;
    padding: 30px 15px 30px 15px;
    flex-wrap: wrap;
    font-size: 15px;
  }
}

@media screen and (min-device-width: 824px) and (max-device-width: 923px) {
  #navbar .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-menu {
    display: none; /* Hide the menu by default on smaller screens */
    position: absolute;
    top: 50px; /* Height of the navbar */
    left: 200rem;
    width: 100%;
    background-color: rgb(32, 32, 32);
    text-align: center;
  }

  .navbar-menu.active {
    display: block; /* Display the menu when active */
  }

  .hamburger-menu {
    display: block; /* Show hamburger icon on smaller screens */
    cursor: pointer;
  }

  .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: 0.4s;
  }

  .change .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .change .bar:nth-child(2) {
    opacity: 0;
  }

  .change .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  #nav-one {
    padding: 0;
    height: 200px;
  }
  #logo {
    height: 100px;
  }
  #header-right {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #contact-information {
    flex-direction: column;
  }
  #contact-information > #second-header {
    font-size: 26px !important;
  }

  #button {
    height: 30px;
    width: 120px;
  }
  #family {
    display: none;
  }
  #hero {
    padding: 0 15px;
    height: 450px;
  }
  #hero #left-side {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  #description {
    font-size: 20px;
  }
  #welcome-home {
    font-size: 40px;
  }
  #new-inventory {
    margin: 20px auto;
    width: 250px;
    padding: 13px;
    font-size: 18px;
  }
  #car {
    left: 12rem;
    width: 60%;
    height: 240px;
  }
  #information-page {
    background-color: #dadada6e;
    height: 700px;
    padding: 0;
  }
  #information-page {
    height: 1750px;
    padding: 0 15px 0 15px;
  }
  #information-buttons {
    margin: 0;
    flex-direction: column;
    gap: 0;
    align-items: center;
  }
  #information-buttons button {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 0;
  }
  #information-page > #box {
    background-color: white;
    padding: 0 15px 0 15px;
    border-radius: 2px;
    width: 100%;
    flex-direction: column;
    margin-top: 50px;
  }
  #other-details {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  #other-details button {
    text-align: center;
    margin-top: 15px;
  }
  #offers-title {
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
  }
  #car-offers {
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
    gap: 30px;
    padding-bottom: 50px;
  }
  #car-offers img {
    height: 150px;
  }
  #car-offers h4 {
    font-size: 20px;
  }
  #car-offers div {
    display: flex;
    align-items: center;
  }
  #advertise {
    flex-direction: column;
    height: 970px;
    padding: 20px 8px 0 8px;
    align-items: center;
    gap: 15px;
    justify-content: flex-start;
  }
  #advertise-left {
    width: 720px;
    height: 500px;
    overflow: hidden;
    border: solid 15px white;
    border-radius: 2px;
  }

  #advertise-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #advertise-right {
    width: 720px;
    height: 400px;
    overflow: hidden;
    border: solid 15px rgb(33, 113, 189);
    background-color: rgb(45, 132, 212);
    border-radius: 2px;
    color: white;
    padding: 30px;
  }
  #advertise-right > h4 {
    font-size: 25px !important;
  }
  #advertise-right > p {
    font-size: 30px !important;
  }
  #advertise-right > #promo {
    font-size: 70px !important;
  }
  #advertise-right > #promo-details {
    font-size: 15px !important;
    margin-top: 10px !important;
  }
  footer {
    font-size: 15px;
    height: 180px;
  }
  footer #footer-firstline {
    display: flex;
    justify-content: space-between;
    color: black;
    align-items: center;
    padding: 20px 15px 20px 15px;
  }
  footer #footer-firstline > img {
    height: 30px;
  }
  footer #footer-secondline {
    display: flex;
    justify-content: flex-start;
    gap: 4px;
    justify-content: center;
    padding: 30px 15px 30px 15px;
    flex-wrap: wrap;
    font-size: 15px;
  }
}

@media screen and (min-device-width: 924px) and (max-device-width: 1023px) {
  #nav-one {
    padding: 30px 50px 50px 50px;
  }

  #button {
    height: 30px;
    width: 150px;
    background-color: rgb(139, 32, 32);
    color: white;
    border: solid 1px rgb(175, 35, 35);
  }

  #header-right {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  #header-right h1 {
    font-size: 25px;
  }

  #navbar {
    background-color: rgb(32, 32, 32);
    height: 50px;
    display: flex;
    align-items: center;
    padding: 20px 20px 10px 20px;
  }

  #navbar a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    padding: 10px;
    display: block;
    text-align: center;
  }

  #navbar li {
    display: inline-block;
    margin-right: 5px;
  }

  /* HERO PAGE */
  #hero {
    height: 500px;
    background: linear-gradient(
      to top,
      #4b49497a,
      #ffffff,
      #ffffff,
      #ffffff,
      #ffffff
    );
    padding: 0 100px 0 65px;
    position: relative;
  }

  #hero #left-side {
    width: 45%;
  }

  #welcome-home {
    font-size: 40px;
    margin-top: 3rem;
  }

  #description {
    font-size: 15px;
    font-weight: 300;
  }

  #car {
    position: absolute;
    bottom: 0;
    left: 1rem;
    height: 180px;
  }
  #family {
    height: 400px;
  }

  #new-inventory {
    background-color: rgb(45, 132, 212);
    border: none;
    width: 300px;
    padding: 15px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    border-radius: 3px;
    margin-top: 30px;
  }

  #information-page {
    background-color: #dadada6e;
    height: 700px;
    padding: 0 100px 0 50px;
  }

  #information-page > #box {
    background-color: white;
    padding: 50px 30px 50px 30px;
    border-radius: 2px;
    width: 100%;
  }

  #information-buttons {
    display: flex;
    justify-content: space-between;
  }

  #information-buttons button {
    border: none;
    background-color: rgb(45, 132, 212);
    padding: 20px;
    width: 200px;
    font-size: 18px;
    font-weight: 500;
    color: white;
    border-radius: 3px;
    margin-top: 60px;
    margin-bottom: 60px;
    gap: 5px;
  }

  #other-details {
    width: 30%;
  }

  #other-details button {
    border: none;
    background-color: white;
    text-align: justify;
    color: #4b4949d0;
    font-weight: 500;
  }

  #offers-title {
    display: flex;
  }

  #car-offers img {
    height: 100px;
  }

  #offers button {
    border: none;
    background-color: white;
    text-align: justify;
    color: #4b4949d0;
    font-weight: 500;
    font-size: 18px;
  }

  #advertise {
    background-color: rgb(32, 32, 32);
    height: 1100px;
    padding: 0 100px 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
  }

  #advertise-left {
    width: 800px;
    height: 500px;
    overflow: hidden;
    border: solid 15px white;
    border-radius: 2px;
  }

  #advertise-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #advertise-right {
    width: 800px;
    height: 500px;
    overflow: hidden;
    border: solid 15px rgb(33, 113, 189);
    background-color: rgb(45, 132, 212);
    border-radius: 2px;
    color: white;
    padding: 30px;
  }

  #advertise-right > h4 {
    font-size: 20px;
  }
  #advertise-right > p {
    font-size: 24px !important;
  }
  #advertise-right > #promo {
    font-size: 60px !important;
  }
  #advertise-right > #promo-details {
    font-size: 13px !important;
    margin-top: 100px !important;
  }

  footer {
    font-size: 18px;
  }

  footer #footer-firstline {
    display: flex;
    justify-content: space-between;
    color: black;
    align-items: center;
    padding: 30px 100px 30px 150px;
  }

  footer #footer-firstline a {
    color: black;
  }

  footer a {
    text-decoration: none;
  }

  footer #footer-secondline {
    display: flex !important;
    justify-content: flex-start !important;
    color: rgb(255, 255, 255);
    align-items: center;
    background-color: rgb(45, 132, 212);
    padding: 50px 100px 50px 150px;
    flex-wrap: wrap;
    gap: 5px;
  }

  footer #footer-secondline a {
    color: rgb(255, 255, 255);
  }
}

@media screen and (min-device-width: 1024px) and (max-device-width: 1254px) {
  #nav-one {
    padding: 30px 50px 50px 50px;
  }

  #button {
    height: 30px;
    width: 150px;
    background-color: rgb(139, 32, 32);
    color: white;
    border: solid 1px rgb(175, 35, 35);
  }

  #header-right {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  #header-right h1 {
    font-size: 25px;
  }

  #navbar {
    background-color: rgb(32, 32, 32);
    height: 50px;
    display: flex;
    align-items: center;
    padding: 20px 20px 10px 20px;
  }

  #navbar a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    padding: 10px;
    display: block;
    text-align: center;
  }

  #navbar li {
    display: inline-block;
    margin-right: 5px;
  }

  /* HERO PAGE */
  #hero {
    height: 500px;
    background: linear-gradient(
      to top,
      #4b49497a,
      #ffffff,
      #ffffff,
      #ffffff,
      #ffffff
    );
    padding: 0 100px 0 65px;
    position: relative;
  }

  #hero #left-side {
    width: 45%;
  }

  #welcome-home {
    font-size: 40px;
    margin-top: 3rem;
  }

  #description {
    font-size: 15px;
    font-weight: 300;
  }

  #car {
    position: absolute;
    bottom: 0;
    left: 1rem;
    height: 180px;
  }
  #family {
    height: 400px;
  }

  #new-inventory {
    background-color: rgb(45, 132, 212);
    border: none;
    width: 300px;
    padding: 15px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    border-radius: 3px;
    margin-top: 30px;
  }

  #information-page {
    background-color: #dadada6e;
    height: 700px;
    padding: 0 100px 0 50px;
  }

  #information-page > #box {
    background-color: white;
    padding: 50px 30px 50px 30px;
    border-radius: 2px;
    width: 100%;
  }

  #information-buttons {
    display: flex;
    justify-content: space-between;
  }

  #information-buttons button {
    border: none;
    background-color: rgb(45, 132, 212);
    padding: 20px;
    width: 220px;
    font-size: 18px;
    font-weight: 500;
    color: white;
    border-radius: 3px;
    margin-top: 60px;
    margin-bottom: 60px;
    gap: 5px;
  }

  #other-details {
    width: 30%;
  }

  #other-details button {
    border: none;
    background-color: white;
    text-align: justify;
    color: #4b4949d0;
    font-weight: 500;
  }

  #offers-title {
    display: flex;
  }

  #car-offers img {
    height: 100px;
  }

  #offers button {
    border: none;
    background-color: white;
    text-align: justify;
    color: #4b4949d0;
    font-weight: 500;
    font-size: 18px;
  }

  #advertise {
    background-color: rgb(32, 32, 32);
    height: 1100px;
    padding: 0 100px 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
  }

  #advertise-left {
    width: 800px;
    height: 500px;
    overflow: hidden;
    border: solid 15px white;
    border-radius: 2px;
  }

  #advertise-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #advertise-right {
    width: 800px;
    height: 500px;
    overflow: hidden;
    border: solid 15px rgb(33, 113, 189);
    background-color: rgb(45, 132, 212);
    border-radius: 2px;
    color: white;
    padding: 30px;
  }

  #advertise-right > h4 {
    font-size: 20px;
  }
  #advertise-right > p {
    font-size: 24px !important;
  }
  #advertise-right > #promo {
    font-size: 60px !important;
  }
  #advertise-right > #promo-details {
    font-size: 13px !important;
    margin-top: 100px !important;
  }

  footer {
    font-size: 18px;
  }

  footer #footer-firstline {
    display: flex;
    justify-content: space-between;
    color: black;
    align-items: center;
    padding: 30px 100px 30px 150px;
  }

  footer #footer-firstline a {
    color: black;
  }

  footer a {
    text-decoration: none;
  }

  footer #footer-secondline {
    display: flex !important;
    justify-content: flex-start !important;
    color: rgb(255, 255, 255);
    align-items: center;
    background-color: rgb(45, 132, 212);
    padding: 50px 100px 50px 150px;
    flex-wrap: wrap;
    gap: 5px;
  }

  footer #footer-secondline a {
    color: rgb(255, 255, 255);
  }
}

@media screen and (min-device-width: 1430px) and (max-device-width: 1499px) {
  #nav-one {
    padding: 30px 130px 50px 130px;
  }

  #button {
    height: 30px;
    width: 150px;
    background-color: rgb(139, 32, 32);
    color: white;
    border: solid 1px rgb(175, 35, 35);
  }

  #header-right {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  #navbar {
    background-color: rgb(32, 32, 32);
    height: 50px;
    display: flex;
    align-items: center;
    padding: 25px 20px 10px 105px;
  }

  #navbar a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    padding: 10px;
    display: block;
    text-align: center;
  }

  #navbar li {
    display: inline-block;
    margin-right: 10px;
  }

  /* HERO PAGE */
  #hero {
    height: 500px;
    background: linear-gradient(
      to top,
      #4b49497a,
      #ffffff,
      #ffffff,
      #ffffff,
      #ffffff
    );
    padding: 0 100px 0 150px;
    position: relative;
  }

  #hero #left-side {
    width: 45%;
  }

  #welcome-home {
    font-size: 60px;
    margin-top: 3rem;
  }

  #description {
    font-size: 18px;
    font-weight: 300;
  }

  #car {
    position: absolute;
    bottom: 0;
    left: 14rem;
  }

  #new-inventory {
    background-color: rgb(45, 132, 212);
    border: none;
    width: 300px;
    padding: 15px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    border-radius: 3px;
    margin-top: 30px;
  }

  #information-page {
    background-color: #dadada6e;
    height: 700px;
    padding: 0 100px 0 150px;
  }

  #information-page > #box {
    background-color: white;
    padding: 50px 30px 50px 30px;
    border-radius: 2px;
    width: 100%;
  }

  #information-buttons {
    display: flex;
    justify-content: space-between;
  }

  #information-buttons button {
    border: none;
    background-color: rgb(45, 132, 212);
    padding: 25px;
    width: 300px;
    font-size: 25px;
    font-weight: 500;
    color: white;
    border-radius: 3px;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  #other-details {
    width: 30%;
  }

  #other-details button {
    border: none;
    background-color: white;
    text-align: justify;
    color: #4b4949d0;
    font-weight: 500;
  }

  #offers-title {
    display: flex;
  }

  #car-offers img {
    height: 150px;
  }

  #offers button {
    border: none;
    background-color: white;
    text-align: justify;
    color: #4b4949d0;
    font-weight: 500;
    font-size: 18px;
  }

  #advertise {
    background-color: rgb(32, 32, 32);
    height: 700px;
    padding: 0 100px 0 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  #advertise-left {
    width: 800px;
    height: 500px;
    overflow: hidden;
    border: solid 15px white;
    border-radius: 2px;
  }

  #advertise-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #advertise-right {
    width: 800px;
    height: 500px;
    overflow: hidden;
    border: solid 15px rgb(33, 113, 189);
    background-color: rgb(45, 132, 212);
    border-radius: 2px;
    color: white;
    padding: 30px;
  }

  #advertise-right > h4 {
    font-size: 20px;
  }
  #advertise-right > p {
    font-size: 24px !important;
  }
  #advertise-right > #promo {
    font-size: 60px !important;
  }
  #advertise-right > #promo-details {
    font-size: 13px !important;
    margin-top: 100px !important;
  }

  footer {
    font-size: 18px;
  }

  footer #footer-firstline {
    display: flex;
    justify-content: space-between;
    color: black;
    align-items: center;
    padding: 30px 100px 30px 150px;
  }

  footer #footer-firstline a {
    color: black;
  }

  footer a {
    text-decoration: none;
  }

  footer #footer-secondline {
    display: flex !important;
    justify-content: flex-start !important;
    color: rgb(255, 255, 255);
    align-items: center;
    background-color: rgb(45, 132, 212);
    padding: 50px 100px 50px 150px;
    flex-wrap: wrap;
    gap: 5px;
  }

  footer #footer-secondline a {
    color: rgb(255, 255, 255);
  }
}

@media screen and (min-device-width: 1500px) and (max-device-width: 1555px) {
  #nav-one {
    padding: 30px 130px 50px 130px;
  }

  #button {
    height: 30px;
    width: 150px;
    background-color: rgb(139, 32, 32);
    color: white;
    border: solid 1px rgb(175, 35, 35);
  }

  #header-right {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  #navbar {
    background-color: rgb(32, 32, 32);
    height: 50px;
    display: flex;
    align-items: center;
    padding: 25px 20px 10px 105px;
  }

  #navbar a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    padding: 10px;
    display: block;
    text-align: center;
  }

  #navbar li {
    display: inline-block;
    margin-right: 10px;
  }

  /* HERO PAGE */
  #hero {
    height: 500px;
    background: linear-gradient(
      to top,
      #4b49497a,
      #ffffff,
      #ffffff,
      #ffffff,
      #ffffff
    );
    padding: 0 100px 0 150px;
    position: relative;
  }

  #hero #left-side {
    width: 45%;
  }

  #welcome-home {
    font-size: 50px;
    margin-top: 3rem;
  }

  #description {
    font-size: 18px;
    font-weight: 300;
  }

  #car {
    position: absolute;
    bottom: 0;
    left: 14rem;
  }

  #new-inventory {
    background-color: rgb(45, 132, 212);
    border: none;
    width: 300px;
    padding: 15px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    border-radius: 3px;
    margin-top: 30px;
  }

  #information-page {
    background-color: #dadada6e;
    height: 700px;
    padding: 0 100px 0 150px;
  }

  #information-page > #box {
    background-color: white;
    padding: 50px 30px 50px 30px;
    border-radius: 2px;
    width: 100%;
  }

  #information-buttons {
    display: flex;
    justify-content: space-between;
  }

  #information-buttons button {
    border: none;
    background-color: rgb(45, 132, 212);
    padding: 25px;
    width: 300px;
    font-size: 25px;
    font-weight: 500;
    color: white;
    border-radius: 3px;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  #other-details {
    width: 30%;
  }

  #other-details button {
    border: none;
    background-color: white;
    text-align: justify;
    color: #4b4949d0;
    font-weight: 500;
  }

  #offers-title {
    display: flex;
  }

  #car-offers img {
    height: 150px;
  }

  #offers button {
    border: none;
    background-color: white;
    text-align: justify;
    color: #4b4949d0;
    font-weight: 500;
    font-size: 18px;
  }

  #advertise {
    background-color: rgb(32, 32, 32);
    height: 700px;
    padding: 0 100px 0 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  #advertise-left {
    width: 800px;
    height: 500px;
    overflow: hidden;
    border: solid 15px white;
    border-radius: 2px;
  }

  #advertise-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #advertise-right {
    width: 800px;
    height: 500px;
    overflow: hidden;
    border: solid 15px rgb(33, 113, 189);
    background-color: rgb(45, 132, 212);
    border-radius: 2px;
    color: white;
    padding: 30px;
  }

  #advertise-right > h4 {
    font-size: 20px;
  }
  #advertise-right > p {
    font-size: 24px !important;
  }
  #advertise-right > #promo {
    font-size: 60px !important;
  }
  #advertise-right > #promo-details {
    font-size: 13px !important;
    margin-top: 100px !important;
  }

  footer {
    font-size: 18px;
  }

  footer #footer-firstline {
    display: flex;
    justify-content: space-between;
    color: black;
    align-items: center;
    padding: 30px 100px 30px 150px;
  }

  footer #footer-firstline a {
    color: black;
  }

  footer a {
    text-decoration: none;
  }

  footer #footer-secondline {
    display: flex !important;
    justify-content: flex-start !important;
    color: rgb(255, 255, 255);
    align-items: center;
    background-color: rgb(45, 132, 212);
    padding: 50px 100px 50px 150px;
    flex-wrap: wrap;
    gap: 5px;
  }

  footer #footer-secondline a {
    color: rgb(255, 255, 255);
  }
}
